<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>The Amazing Blog<%= ' - ' + current_article.title unless current_article.nil? %></title>

    <%= auto_display_meta_tags %>
    <script type="application/ld+json">
      {
        "@type": "WebSite",
        "publisher": {
          "@type": "Person",
          "logo": {
            "@type": "ImageObject",
            "url": "/avatar.png"
          }
        },
        "url": "/",
        "headline": "<%= current_article&.title || "The Amazing Blog" %>",
        "name": "The Amazing Blog",
        "@context": "https://schema.org"
      }
    </script>

    <%= stylesheet_link_tag :txt %>
    <%= stylesheet_link_tag :highlight %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "The Amazing Blog Feed" %>
  </head>
  <body class="is-preload">
    <div id="page-wrapper">

    <header id="header">
      <div class="logo container">
        <div>
          <h1>
            <%= link_to "The Amazing Blog", "/", id: "logo" %>
          </h1>
        </div>
      </div>
    </header>

    <nav id="nav">
      <ul>
        <li class="current"><%= link_to "Home", "/" %></li>
      </ul>
    </nav>


    <section id="main" role="main">
      <div class="container">
        <div class="row">
          <div class="col-9 col-12-medium">
            <div class="content">
              <article class="box page-content">
                <%= yield %>
              </article>
            </div>
          </div>
          <div class="col-3 col-12-medium">
            <div class="sidebar">
              <%= partial "sidebar" %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%= partial "footer" %>

    </div>
    <script data-goatcounter="https://rando.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
